@charset "utf-8";

.game-box{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: 3%;
  color: #505050;
}

.game-left-box{
  width: 50%;
  height: auto;
  margin: 0px 25px;
  /* margin: 50px 130px 0 10px; */
  /* background-color: skyblue; */
  text-align: center;
  box-shadow: 0 4px 15px rgb(0 0 0 / 20%);
  border-radius: 0.5rem;
}

.game-right-box{
  width: 50%;
  height: auto;
  /* margin: 50px 10px 0 130px; */
  margin: 0px 25px;
  text-align: center;
  /* background-color: salmon; */
  /* border: 2px solid #dcdcdc; */
  box-shadow: 0 4px 15px rgb(0 0 0 / 20%);
  border-radius: 0.5rem;
}

.game-txtbox{
  width: 90%;
  height: auto;
  margin: 5%;
  background-color: #fff;
  border: 1px solid #fff;
  text-align: center;
}

.game-txtbox-ttl{
  font-size: 130%;
  padding-top: 5%;
}

.game-box-btn{
  width: 300px;
  background-color: rgb(218, 87, 137);
  color: #fff;
  font-weight: bold;
  display: block;
  margin: 5% auto;
  font-size: 16px;
  padding: 20px;
  border-radius: 100vh;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  text-align: center;
  font-size: 1.3em;
}

.game-box-btn:hover{
  background-color: #f18ab2;
}