<!doctype html>
<!-- <html lang="ja"> -->
<head>
  <meta charset="UTF-8">
  <title>Sample</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/contact.css">
  <link rel="stylesheet" href="css/mypage.css">
  <link rel="stylesheet" href="css/property.css">
  <link rel="stylesheet" href="css/search.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a961099676.js" crossorigin="anonymous"></script>
</head>


<header class="header">
  <div class="headerNavOuter flexBox">
    <!-- ロゴ -->
    <!-- <h1 class="siteIcon">
          <a href="#">
              <img src="https://drive.google.com/uc?export=view&id=1mu_N2iTeoQCeUiuWRgJ0xwjR4AZ-29bL" alt="">
          </a>
      </h1> -->
    <!-- ナビゲーション -->
    <nav class="headerNav">
      <ul class="navList flexBox">
        <li class="navItem navItemHome">
          <a href="/Member">
            会員登録
          </a>
        </li>
        <li class="navItem navItemIntroduce">
          <a href="/Login">
            ログイン
          </a>
        </li>
        <li class="navItem navItemAbout">
          <a href="#">
            購入検索
          </a>
        </li>
        <li class="logo"><a href="/"><img src="./images/hew-logo.png" alt=""></a></li>
        <li class="navItem navItemAccess">
          <a href="#">
            物件検索
          </a>
        </li>
        <li class="navItem navItemContact">
          <a href="./login.html">
            ゲーム
          </a>
        </li>
        <li class="navItem navItemContact">
          <a href="/help">
            ヘルプ
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>


<body>


  <!-- パンくずリスト -->
  <div class="breadcrumb">
    <ul class="breadcrumb_ul">
      <li><a href="index.html">不動産・住宅情報サイトTROUBLE HOUSE</a></li>
      <li><a href="help.html">ヘルプ</li></a>
      <li>会員情報について</li>
    </ul>
  </div>

  <div class="help-box">
    <h1 class="help-box-title">初めてのお客さま</h1>
    <div class="help-first-accordion-box">
      <ul class="accordion-area">
        <li>
          <section>
            <h3 class="title">TROUBLE HOUSEとは</h3>
            <div class="box">
              <p>TROUBLE HOUSEとは「事故物件」を売却しているサイトです。<br>
                    都内で物件を買いたい方に不動産情報を提供します。
                  </p>
            </div>
          </section>
        </li>
        <li>
          <section>
            <h3 class="title">TROUBLE HOUSE ではどのようなお支払い方法がありますか？</h3>
            <div class="box">
              <p>「クレジットカード」のみとなります。<br></p>
            </div>
          </section>
        </li>
        <li>
          <section>
            <h3 class="title">TROUBLE HOUSE は18歳未満でも登録できますか？</h3>
            <div class="box ">
              <p>TROUBLE HOUSEでは、18歳未満の方の登録はご遠慮いただいております。</p>
            </div>
          </section>
        </li>
        <li>
          <section>
            <h3 class="title">新規会員登録とは</h3>
            <div class="box ">
              <p>TROUBLE HOUSEでは会員登録をするとスムーズにお買い物いただけます。<br>
                    ご登録後は、本登録のメールアドレス、パスワードでログインが可能です。<br>
                    サイト内の「<a class="link" href="member.html">新規会員登録ページ</a>」から登録可能です。
                  </p>
            </div>
          </section>
        </li>
        <li>
          <section>
            <h3 class="title">登録が完了できません</h3>
            <div class="box ">
              <p>会員登録ができない場合には、以下の理由が考えられます。<br>
                    <br>
                    【お客さまのご入力に誤りがある場合】<br>
                    赤文字で表示されるエラーをご確認のうえ、会員登録をお願いいたします。<br>
                    <br>
                    【「ご指定のメールアドレスは登録できません 」と表示される場合】<br>
                    既に同メールアドレスにてご登録がございます。未登録のアドレスをご入力ください。<br>
                    <br>
                    ご登録内容をお忘れの場合は、 サイト内の「<a class="link" href="#.html">パスワードを忘れた方 </a>」画面より、パスワードの再設定をしてください。</p>
            </div>
          </section>
        </li>
      </ul>
    </div>

    <div class="help-contact">
      <h1 class="help-contact-title">問題は解決しましたか？</h1>
      <p class="help-contact-txt">解決しない場合はこちらよりお問い合わせください</p>
      <a href="/Contact" class="help-contact-btn  help-contact-btn-c"><i class="far fa-envelope "></i>お問い合わせはこちら<i class="fas fa-chevron-right"></i></a>
    </div>
  </div>



  <footer id="footer" class="footer-outer-block">
    <div class="footer-inner-block">
      <div class="footer-wrap">
        <div class="footer-logo">
          <a href="index.html"><img src="images/footer-logo.png" alt=""></a>
        </div>
        <ul class="footer-nav">
          <li><a href="index.html">TOP</a></li>
          <li><a href=".html">よくある質問</a></li>
          <li><a href=".html">お問い合わせ</a></li>
        </ul>
      </div>
    </div>
    </div>
    <div class="copyright">
      COPYRIGHT &copy; TROUBLEHOUSE Inc. All rights Reserved.
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script>
    //アコーディオンをクリックした時の動作
    $('.title').on('click', function () {//タイトル要素をクリックしたら
      $('.box').slideUp(500);//クラス名.boxがついたすべてのアコーディオンを閉じる

      var findElm = $(this).next(".box");//タイトル直後のアコーディオンを行うエリアを取得

      if ($(this).hasClass('close')) {//タイトル要素にクラス名closeがあれば
        $(this).removeClass('close');//クラス名を除去
      } else {//それ以外は
        $('.close').removeClass('close'); //クラス名closeを全て除去した後
        $(this).addClass('close');//クリックしたタイトルにクラス名closeを付与し
        $(findElm).slideDown(500);//アコーディオンを開く
      }
    });

    //ページが読み込まれた際にopenクラスをつけ、openがついていたら開く動作※不必要なら下記全て削除
    $(window).on('load', function () {
      $('.accordion-area li:first-of-type section').addClass("open"); //accordion-areaのはじめのliにあるsectionにopenクラスを追加
      $(".open").each(function (index, element) { //openクラスを取得
        var Title = $(element).children('.title'); //openクラスの子要素のtitleクラスを取得
        $(Title).addClass('close');       ///タイトルにクラス名closeを付与し
        var Box = $(element).children('.box'); //openクラスの子要素boxクラスを取得
        $(Box).slideDown(500);          //アコーディオンを開く
      });
    });
  </script>

</body>
</html>
