<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>マッチング</title>
  <style>
    .match-main {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 50vh 0;
    }
  </style>
</head>
<body>
  <div class="match-main">
    <img src="game/images/loader.gif">
  </div>
  <script>
    var url = "<%= url  %>"
  </script>
  <script src="match.js"></script>
</body>
</html>
